/* main{
    height: 86vh
} */
#header{
    height: 5rem;
}
li{
    border: 25px !important;
    border-color: black !important;
}
.subrrayado {
    text-decoration: none;
}
.imagenes{
max-height: 30vh !important;
}
#footer{
    width: 2rem !important;
    height:2rem !important ;
}
.logo{
    width: 100px !important;
}

#vacio{
    height:25px; 
}
#img_diferente{
    max-width: 80%;
    max-height: 80%;
}
body{
    position: relative;
   padding-bottom: 2.5rem;
    min-height: 100vh;
    background-color: rgb(7, 7, 7) !important 
/*     display: flex;
    flex-direction: column;
    min-height: 100vh;
 */
}
footer{
    background-color: rgb(7, 7, 7);
    min-height: 2vh;
  position: absolute;
    bottom: 0;
    width: 100%;
 /*    margin-top: auto; */
}
#ima{
    padding-top:10px !important ; 
}
#imag{
    padding:20px !important ; 
}

